html {
  width: 100%;
}

body {
  padding: 20px 0;
}

.text-group {
  display: inline-block;
}

.copyright {
  margin-top: 40px;
}

.fb-comments {
  width: 80% !important;
  margin: 20px auto;
}

.fb_iframe_widget {
  & > span, iframe {
    width: 100% !important;
  }

  &, & > span {
    display: block !important;
  }
}

@media (max-width: 767px) {
  body {
    padding: 10px;
  }
  input#ma-number {
    display: block;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .fb_iframe_widget {
    width: 100% !important;
  }
}